<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicorn.unicornquartett">




    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".UnicornQuartett">


        <activity android:name=".Menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ranglist.RangListActivity"
            android:parentActivityName=".Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unicorn.unicornquartett.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".Decks.DeckGalleryActivity"
            android:parentActivityName=".Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unicorn.unicornquartett.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".PlayGame.PlayGameActivity"
            android:parentActivityName=".Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unicorn.unicornquartett.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:parentActivityName=".Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unicorn.unicornquartett.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".Friends.FriendActivity"
            android:parentActivityName=".Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unicorn.unicornquartett.Menu.MenuActivity" />
        </activity>
    </application>

</manifest>