<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicorn.unicornquartett">

    <uses-feature
        android:name="android.permission.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Utility.UnicornQuartett"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Menu.MenuActivity"></activity>
        <activity
            android:name=".activity.Ranglist.RangListActivity"
            android:parentActivityName=".activity.Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.Decks.DeckGalleryActivity"
            android:parentActivityName=".activity.Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.PlayGame.ChooseGameActivity"
            android:parentActivityName=".activity.Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.Profile.ProfileActivity"
            android:parentActivityName=".activity.Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.Friends.FriendActivity"
            android:parentActivityName=".activity.Menu.MenuActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.Decks.DisplayCardActivity"
            android:parentActivityName=".activity.Decks.DeckGalleryActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Decks.DeckGalleryActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.PlayGame.PlayUnicornModeActivity" />
        <activity android:name=".activity.PlayGame.PlayStandardModeActivity" />
        <activity android:name=".activity.PlayGame.ShowResultActivity" />
        <activity android:name=".activity.PlayGame.EndGameActivity"></activity>
    </application>

</manifest>